menu "ASoC support for Amlogic platforms"
	depends on ARCH_MESON || COMPILE_TEST

config SND_MESON_AXG_MEMIF
	tristate "Amlogic AXG Audio Memory Interface Support"
	select REGMAP_MMIO
	imply COMMON_CLK_AXG_AUDIO
	imply RESET_MESON_AUDIO_ARB
	help
	  Select Y or M to add support for the audio memory interfaces
	  embedded in the Amlogic AXG SoC family

endmenu
